<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</head>

<body ng-app="myapp">
    <div ng-init="Employee = 1; Basicsalary = 20000; commissionamt = 400; days=0 ">
        <h2>Commission Calculator</h2>
        Name : <input type="text" ng-model="ename">
        No. of Days Worked : <input type="number" ng-model="days">
        <p><b>Total Commission Amount based on number of Days : </b>{{commissionamt * days}}</p>
    </div>
</body>

    <div ng-controller="LargestController">
        <h4>Result {{c}}</h4>
    </div>

    <script>
        angular.module("myapp", []).controller("LargestController", function ($scope) {
            var a = 80;
            var b = 40;
            if (a >= b) $scope.c = "Largest = " + a;
            else $scope.c = "Largest = " + b;
        });
    </script>
</body>

</html>